body{
    background-image: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-family: "Cairo play",sans-serif;
 }
 aside{
    text-align:center;
    width:300px;
    float:right;
    border: 1px solid white;
    box-shadow: 1px 8px 16px 3px #46eefa75;
    border-radius: 3px;
    padding :30px;
 }
 ::selection{
    background-color: #8e44ad;
    color: white;
 }
 main{
    float:left;
    border: 1px solid white;
    border-radius: 2px;
    padding :20px;
 }
 input{
    padding: 5px;
    outline: none;
    width:90%;
    border:0.5px solid white;
    text-align: center;
    font-size:17px;
    
    border-radius: 3px;
    background-color: rgb(207,159,207);
    font-weight: 600;
    color:whitesmoke;
 }
 input:focus{
    transition: 0.3s ease;
    box-shadow: 1px 8px 16px 3px #46eefa75;
    border: 1px solid #8e44ad;
 }
 button{
    outline:none;
    border:0.5px solid white;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 2px;
    font-family: "Cairo play",sans-serif;
    border-radius: 3px;
    font-weight: bold;
    width:28%;
    box-shadow: 1px 8px 16px 3px #46eefa75;
    background-color: #DAFBFE;
    cursor: pointer;
 }
 button:hover{
    transition: 0.7s ease;
    background-color: #176B87;
 }
 th{
    padding:10px;
    background-color: #DAFBFE;
    color:black;
    text-align:center;
 }
 tr{
        text-align: center;
    }
table{
    width:1200px;
    font-size:20px;
}
 